/* Estilos para los modales */

#editModal .modal-content {
    width: 90%;
    max-width: 500px;
}

#editProductForm .form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#editProductForm .input-group {
    display: flex;
    gap: 10px;
}

#editProductForm .input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#editProductForm .file-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#editProductForm .file-input {
    display: none;
}

#editProductForm .file-label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 10px 15px;
    background-color: #f4f7f9;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#editProductForm .file-label i {
    font-size: 18px;
}
#editModal .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

#editModal .input-group input:focus {
    border-color: #2fd103; 
    outline: none;
}

#editModal .file-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#editModal .file-input {
    display: none;
}

#editModal .file-label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 10px 15px;
    background-color: #f4f7f9;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

#editModal .file-label:hover {
    background-color: #e0e0e0;
}

#editModal .file-label i {
    font-size: 18px;
}

#editModal .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

#editModal .input-group input:focus {
    border-color: #2fd103; 
    outline: none;
}

#editModal .file-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#editModal .file-input {
    display: none;
}

#editModal .file-label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 10px 15px;
    background-color: #f4f7f9;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

#editModal .file-label:hover {
    background-color: #e0e0e0;
}

#editModal .file-label i {
    font-size: 18px;
}
#editModal .button-save-modal {
    position: relative;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid #2fd103;
    background-color: #2fd103;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  #editModal .button-save-modal .button__text {
    color: #f0eaea;
    font-weight: 600;
    transition: all 0.3s;
  }
  
  #editModal .button-save-modal .button__icon {
    position: absolute;
    right: 0; 
    height: 100%;
    width: 39px;
    background-color: #2abc02;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  
  #editModal .button-save-modal:hover {
    background: #2abc02;
  }
  
  #editModal .button-save-modal:hover .button__text {
    color: transparent;
  }
  
  #editModal .button-save-modal:hover .button__icon {
    width: 100%; 
    transform: translateX(0);
  }
  
  #editModal .button-save-modal:active .button__icon {
    background-color: #2abc02;
  }
  
  #editModal .button-save-modal:active {
    border: 1px solid #2abc02;
  }
  
  /* button cancel modal */
  #editModal .btn-secondary {
      position: relative;
      border-radius: 6px;
      width: 100%;
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #131313; 
      background-color: #131313; 
      overflow: hidden;
      transition: all 0.3s;
  }
  
  #editModal .btn-secondary .button__text {
      color: #f0eaea;
      font-weight: 600;
      transition: all 0.3s;
  }
  
  #editModal .btn-secondary .button__icon {
      position: absolute;
      right: 0;
      height: 100%;
      width: 39px;
      background-color: #131313;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
  }
  
  #editModal .btn-secondary:hover {
      background: #131313; 
  }
  
  #editModal .btn-secondary:hover .button__text {
      color: transparent;
  }
  
  #editModal .btn-secondary:hover .button__icon {
      width: 100%;
      transform: translateX(0);
  }
  
  #editModal .btn-secondary:active .button__icon {
      background-color: #000000; 
  }
  
  #editModal .btn-secondary:active {
      border: 1px solid #000000; 
  }
  
  #editModal .btn-secondary:active {
    border: 1px solid #000000;
  }